<section class="portfolio-education">
    <div class="portfolio-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                <span class="heading-meta">Education</span>
                <h2 class="portfolio-heading">Education</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="fancy-collapse-panel">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed">Bachelor
                                        Degree of Commerce
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>I'm graduated from Delhi University in 2017.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed">
                                        Higher Education
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>I've completed twelfth class education in 2014.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed">
                                        Secondary Education
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>I've Completed tenth class education in 2012.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>