<section class="portfolio-education">
    <div class="portfolio-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                <span class="heading-meta">Education</span>
                <h2 class="portfolio-heading">Education</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="fancy-collapse-panel">
                    <app-tabs>
                        <app-tab panelHeading="Bachelor Degree of Commerce">
                            <p>I'm graduated from Delhi University in 2017.</p>
                        </app-tab>
                        <app-tab panelHeading="Higher Education">
                            <p>I've completed twelfth class education in 2014.</p>
                        </app-tab>
                        <app-tab panelHeading="Secondary Education">
                            <p>I've completed tenth class education in 2012.</p>
                        </app-tab>
                    </app-tabs>
                </div>
            </div>
        </div>
    </div>
</section>