<section class="portfolio-about">
    <div class="portfolio-narrow-content">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-bottom-padded-sm">
                    <div class="col-md-12">
                        <div class="about-desc">
                            <span class="heading-meta">About Me</span>
                            <h2 class="portfolio-heading">Who Am I?</h2>
                            <p><strong>Hi, my name is Kuldeep</strong>, and I am a UI Developer in
                                Noida, India. I have more than 3 years
                                of experience as a UI Developer. If you have any question
                                about UI Developer, or just want to say hello, feel free
                                to contact me. You can email me at mrkuldeepkr@gmail.com, or follow
                                me at www.instagram.com/kvinbabbar ;)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="hire">
                            <h2>I am happy to know you <br>that 100+ projects done sucessfully!</h2>
                            <a routerLink="/contact" class="btn-hire">Hire me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>